.offerimg{
    width:2150px;
    height:700px;
    background-repeat: no-repeat;
}

h1{
    font-weight: 900;
    font-size:100px;
}

h2{
    font-weight:700
}

h3{
    color:black;
    font-weight: 500;
}

body{
    justify-content: center;
}

.gh{
    font-weight: 900;
}